---
import { useTranslations } from "../i18n/utils";
import BlogDate from "./BlogDate.astro";
import { Markdown } from "@astropub/md";
import HeroImage from "./HeroImage.astro";

const {
  lang,
  slug,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  content,
  categorySlug,
  categoryTitle,
} = Astro.props;

const t = useTranslations(lang);

---

<ul>
  <li class="flex flex-col gap-1">
    <a href={`/${lang}/blog/${slug}/`}>
      <h1
        class="text-4xl font-bold text-boston-blue-800 dark:text-boston-blue-100 mb-1"
      >
        {title}
      </h1>
    </a>
    <span>{description}</span>
    <a
      class="block mr-auto text-amber-600 dark:text-amber-200 transition-all ease-in-out duration-500 shadow-[inset_0_0_0_0] shadow-neutral-50 hover:shadow-[inset_0_-50px_0_0] hover:shadow-amber-600 hover:text-neutral-50 dark:hover:shadow-amber-200 dark:hover:text-neutral-900"
      href={`/${lang}/categories/${categorySlug}/`}
    >
      {categoryTitle}
    </a>
    <div class="flex gap-2 text-neutral-400 text-xs">
      <BlogDate pubDate={pubDate} updatedDate={updatedDate} />
    </div>
    <HeroImage heroImage={heroImage} />
    {
      content.indexOf("[[MORE]]") !== -1 ? (
        <>
          <Markdown.Inline of={content.slice(0, content.indexOf("[[MORE]]"))} />
          <a
            class="text-amber-600 dark:text-amber-200 text-xl block mt-2 mb-1"
            href={`/${lang}/blog/${slug}/`}
          >
            {t("index.readMore")}
          </a>
        </>
      ) : (
        <Markdown.Inline of={content} />
      )
    }
  </li>
  <hr class="my-4 border-b border-neutral-200 dark:border-neutral-800" />
</ul>
