---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Article from "../components/Article.astro";
import BlogDate from "../components/BlogDate.astro";
import { TbExternalLink } from "react-icons/tb";
import type { TagType } from "../lib/contentful";

const {
  lang,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  imageDescription,
  tags,
} = Astro.props;

const imageSourceURL = imageDescription.slice(imageDescription.indexOf("http"));
const imageText = imageDescription.replace(imageSourceURL, "");
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="pt-16">
      <Article className="flex flex-col gap-2">
        <h1
          class="text-4xl font-bold text-boston-blue-800 dark:text-boston-blue-100 mb-1"
        >
          {title}
        </h1>
        <div>{description}</div>
        <div class="flex gap-3 text-xs text-neutral-500">
          <BlogDate pubDate={pubDate} updatedDate={updatedDate} />
        </div>
        <div>
          <img
            class="rounded-lg"
            height={510}
            src={heroImage}
            alt={imageText}
          />
          <p class="py-2 text-xs text-neutral-500">
            <span>
              {imageText}
            </span>
            <a
              class="block pt-1 text-neutral-400"
              href={imageSourceURL}
              target="_blank"
              >Source: <TbExternalLink className="inline-block" /></a
            >
          </p>
        </div>
        <slot />
        <hr
          class="border-t-2 w-full mx-auto my-4 border-orange-200 dark:border-zinc-400"
        />
        <div class="flex gap-1 text-lg text-amber-600 dark:text-amber-200">
          {
            tags.map((tag: TagType) => {
              const { title, slug } = tag.fields;
              return <a class="px-2 transition-all ease-in-out duration-500 shadow-[inset_0_0_0_0] shadow-neutral-50 hover:shadow-[inset_0_-50px_0_0] hover:shadow-amber-600 hover:text-neutral-50" href={`/${lang}/tags/${slug}`}>{"#" + title}</a>;
            })
          }
        </div>
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-lg list-disc hidden"
        ></span>
        <span
          class="text-lg font-bold text-4xl text-2xl text-xl hidden bg-amber-50 dark:bg-neutral-800 border-l-4 border-orange-200 dark:border-neutral-700 text-amber-600 dark:text-amber-200 scroll-mt-16"
        ></span>
        <hr
          class="border-t-[1rem] w-52 mx-auto my-4 border-orange-200 dark:border-zinc-400 border-double hidden text-boston-blue-800 text-boston-blue-500 dark:text-boston-blue-200 dark:text-boston-blue-300 text-boston-blue-700 dark:text-boston-blue-200"
        />
      </Article>
    </main>
    <Footer />
  </Body>
</html>
